.clearfix::after,
.clearfix::before{
    content: '';
    display: table;
    clear: both;
}
body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    min-width: 925px;
    background-color: #EDEDEF;
    text-align: center;
}
.w{
    width: 934px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #999;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999;
    font-size: 12px;
    font-weight: bold;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
    font-size: 12px;
    font-weight: bold;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
    font-size: 12px;
    font-weight: bold;
}

.hover-pointer{
    cursor: pointer;
}
