<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lofter（乐乎） - 让兴趣、更有趣</title>
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/icon-font/iconfont.css">
    <link rel="icon" href="/public/favicon.ico">
</head>

<body>
    <div class="page-mask"></div>
    <div class="topbar-wrapper">
        <div class="topbar w">
            <div class="topbar-img">
                <img src="/public/img/topbar.jpg">
            </div>
            <div class="topbar-menu">
                <div>
                    <a href="/">首页</a>
                </div>
                <div>
                    <a href="/found">发现</a>
                </div>
                <div>
                    <a href="javascript:;">APP</a>
                </div>
            </div>
            <div class="topbar-input">
                <input type="text" placeholder="搜索用户、标签">
                <i class="iconfont">&#xe62d;</i>
                <span>NEW</span>
                <div class="pop-up">
                    <div class="pop-up-header">
                        <span>
                            <i class="iconfont">&#xeba0;</i>
                            关注的标签
                        </span>
                    </div>
                    <div class="pop-up-entity">
                        <div class="pop-up-item">
                            <span>
                                #戈多
                            </span>
                            <span>
                                +12篇
                            </span>
                        </div>
                        <div class="pop-up-item">
                            <span>
                                #戈德
                            </span>
                            <span>
                                +38篇
                            </span>
                        </div>
                        <div class="pop-up-item">
                            <span>
                                #神乃木庄龙
                            </span>
                            <span>
                                +2篇
                            </span>
                        </div>
                        <div class="pop-up-item">
                            <span>
                                #游戏
                            </span>
                            <span>
                                +19204篇
                            </span>
                        </div>
                        <div class="pop-up-item">
                            <span>
                                #二次元
                            </span>
                            <span>
                                +48666篇
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topbar-icons">
                <div>
                    <i class="iconfont">&#xe60a;</i>
                </div>
                <div>
                    <i class="iconfont">&#xe60d;</i>
                </div>
                <div>
                    <i class="iconfont">&#xe60c;</i>
                </div>
                <div>
                    <i class="iconfont">&#xe629;</i>
                </div>
            </div>
        </div>
    </div>
    <div class="main clearfix">
        <div class="middle">
            <div class="header">
                <div class="header-img">
                    <a href="/user_1">
                        <img src="/public/img/user_head1.jpg" class="my-head">
                    </a>
                    <div class="mask"></div>
                </div>
                <div class="header-nav send-btn">
                    <i class="iconfont">&#xe615;</i>
                    <span>文字</span>
                </div>
                <div class="header-nav">
                    <i class="iconfont">&#xe62b;</i>
                    <span>图片</span>
                </div>
                <div class="header-nav">
                    <i class="iconfont">&#xe888;</i>
                    <span>音乐</span>
                </div>
                <div class="header-nav">
                    <i class="iconfont">&#xe607;</i>
                    <span>视频</span>
                </div>
                <div class="header-nav">
                    <i class="iconfont">&#xe609;</i>
                    <span>长文章</span>
                </div>
                <div class="send">
                    <div class="send-main">
                        <p class="send-id">
                            Danmoits
                        </p>
                        <form action="/">
                            <input type="text" placeholder="标题(可不填)">
                            <textarea name="" class="add-text"></textarea>
                        </form>
                        <!-- 
                            <div class="add-text">
                                <div>
                                    <i class="iconfont">&#xe62b;</i>
                                    <span>添加一张图片</span>
                                </div>
                            </div> 
                        -->
                        <div class="btn-area">
                            <a href="javascript:;" class="cancel-btn">取&nbsp;&nbsp;&nbsp;消</a>
                            <a href="javascript:;">预&nbsp;&nbsp;&nbsp;览</a>
                            <a href="javascript:;">
                                <span>发&nbsp;&nbsp;&nbsp;布</span>
                                <i class="iconfont">&#xe72f;</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment">
                <div class="comment-item clearfix">
                    <img src="/public/img/head1.jpg">
                    <div class="comment-body">
                        <div class="triangle"></div>
                        <div class="line"></div>
                        <div class="comment-content">
                            <span>LOFTER话题君</span>
                            <div class="comment-content-inner">
                                <img src="/public/img/comment1.jpg" class="comment-img">
                                <h5>LOFTER创作者激励计划“不负有勤人”获奖公布</h5>
                                <p>1、以下创作者在“超潜力新星”赛道中获评为优质创作者</p>
                                <u> @莫得蓝颜色 @咒高第一干饭人 @叫我三岁就好了 @吱枝七 @E.S.P @亦贝paradox @零度杀戮 @宋辞柒 ...</u>
                            </div>
                            <span class="fold">
                                展开
                                <i class="iconfont">&#xe72f;</i>
                            </span>
                            <div class="function-area">
                                <i class="iconfont icon_heart">&#xe619;</i>
                                <span>推荐</span>
                                <span>分享</span>
                                <span class="remark-btn">评论（65）</span>
                                <span>热度（493）</span>
                            </div>
                        </div>
                        <div class="remark not-chosen">
                            <input type="text">
                            <button>发&nbsp;&nbsp;&nbsp;&nbsp;布</button>
                        </div>
                    </div>
                </div>
                <div class="comment-item clearfix">
                    <a href="/user_2">
                        <img src="/public/img/head2.jpg">
                    </a>
                    <div class="comment-body">
                        <div class="triangle"></div>
                        <div class="line"></div>
                        <div class="comment-content">
                            <span>LOFTER话题君</span>
                            <div class="comment-content-inner">
                                <img src="/public/img/comment2.jpg" class="comment-img">
                                <h5>←点击左侧头像进入个人主页</h5>
                                <p>1、以下创作者在“超潜力新星”赛道中获评为优质创作者</p>
                                <u> @莫得蓝颜色 @咒高第一干饭人 @叫我三岁就好了 @吱枝七 @E.S.P @亦贝paradox @零度杀戮 @宋辞柒 ...</u>
                            </div>
                            <span class="fold">
                                展开
                                <i class="iconfont">&#xe72f;</i>
                            </span>
                            <div class="function-area">
                                <i class="iconfont icon_heart">&#xe619;</i>
                                <span>推荐</span>
                                <span>分享</span>
                                <span class="remark-btn">评论（65）</span>
                                <span>热度（493）</span>
                            </div>
                        </div>
                        <div class="remark not-chosen">
                            <input type="text">
                            <button>发&nbsp;&nbsp;&nbsp;&nbsp;布</button>
                        </div>
                    </div>
                </div>
                <div class="comment-item clearfix">
                    <img src="/public/img/head3.jpg">
                    <div class="comment-body">
                        <div class="triangle"></div>
                        <div class="line"></div>
                        <div class="comment-content">
                            <span>LOFTER话题君</span>
                            <div class="comment-content-inner">
                                <img src="/public/img/comment3.jpg" class="comment-img">
                                <h5>LOFTER创作者激励计划“不负有勤人”获奖公布</h5>
                                <p>1、以下创作者在“超潜力新星”赛道中获评为优质创作者</p>
                                <u> @莫得蓝颜色 @咒高第一干饭人 @叫我三岁就好了 @吱枝七 @E.S.P @亦贝paradox @零度杀戮 @宋辞柒 ...</u>
                            </div>
                            <span class="fold">
                                展开
                                <i class="iconfont">&#xe72f;</i>
                            </span>
                            <div class="function-area">
                                <i class="iconfont icon_heart">&#xe619;</i>
                                <span>推荐</span>
                                <span>分享</span>
                                <span class="remark-btn">评论（65）</span>
                                <span>热度（493）</span>
                            </div>
                        </div>
                        <div class="remark not-chosen">
                            <input type="text">
                            <button>发&nbsp;&nbsp;&nbsp;&nbsp;布</button>
                        </div>
                    </div>
                </div>
                <div class="comment-item clearfix">
                    <img src="/public/img/head4.jpg">
                    <div class="comment-body">
                        <div class="triangle"></div>
                        <div class="line"></div>
                        <div class="comment-content">
                            <span>LOFTER话题君</span>
                            <div class="comment-content-inner">
                                <img src="/public/img/comment4.jpg" class="comment-img">
                                <h5>LOFTER创作者激励计划“不负有勤人”获奖公布</h5>
                                <p>1、以下创作者在“超潜力新星”赛道中获评为优质创作者</p>
                                <u> @莫得蓝颜色 @咒高第一干饭人 @叫我三岁就好了 @吱枝七 @E.S.P @亦贝paradox @零度杀戮 @宋辞柒 ...</u>
                            </div>
                            <span class="fold">
                                展开
                                <i class="iconfont">&#xe72f;</i>
                            </span>
                            <div class="function-area">
                                <i class="iconfont icon_heart">&#xe619;</i>
                                <span>推荐</span>
                                <span>分享</span>
                                <span class="remark-btn">评论（65）</span>
                                <span>热度（493）</span>
                            </div>
                        </div>
                        <div class="remark not-chosen">
                            <input type="text">
                            <button>发&nbsp;&nbsp;&nbsp;&nbsp;布</button>
                        </div>
                    </div>
                </div>
                <div class="comment-item clearfix">
                    <img src="/public/img/head5.jpg">
                    <div class="comment-body">
                        <div class="triangle"></div>
                        <div class="line"></div>
                        <div class="comment-content">
                            <span>LOFTER话题君</span>
                            <div class="comment-content-inner">
                                <img src="/public/img/comment5.jpg" class="comment-img">
                                <h5>LOFTER创作者激励计划“不负有勤人”获奖公布</h5>
                                <p>1、以下创作者在“超潜力新星”赛道中获评为优质创作者</p>
                                <u> @莫得蓝颜色 @咒高第一干饭人 @叫我三岁就好了 @吱枝七 @E.S.P @亦贝paradox @零度杀戮 @宋辞柒 ...</u>
                            </div>
                            <span class="fold">
                                展开
                                <i class="iconfont">&#xe72f;</i>
                            </span>
                            <div class="function-area">
                                <i class="iconfont icon_heart">&#xe619;</i>
                                <span>推荐</span>
                                <span>分享</span>
                                <span class="remark-btn">评论（65）</span>
                                <span>热度（493）</span>
                            </div>
                        </div>
                        <div class="remark not-chosen">
                            <input type="text">
                            <button>发&nbsp;&nbsp;&nbsp;&nbsp;布</button>
                        </div>
                    </div>
                </div>
                <div class="comment-item clearfix">
                    <img src="/public/img/head6.jpg">
                    <div class="comment-body">
                        <div class="triangle"></div>
                        <div class="line"></div>
                        <div class="comment-content">
                            <span>LOFTER话题君</span>
                            <div class="comment-content-inner">
                                <img src="/public/img/comment6.png" class="comment-img">
                                <h5>LOFTER创作者激励计划“不负有勤人”获奖公布</h5>
                                <p>1、以下创作者在“超潜力新星”赛道中获评为优质创作者</p>
                                <u> @莫得蓝颜色 @咒高第一干饭人 @叫我三岁就好了 @吱枝七 @E.S.P @亦贝paradox @零度杀戮 @宋辞柒 ...</u>
                            </div>
                            <span class="fold">
                                展开
                                <i class="iconfont">&#xe72f;</i>
                            </span>
                            <div class="function-area">
                                <i class="iconfont icon_heart">&#xe619;</i>
                                <span>推荐</span>
                                <span>分享</span>
                                <span class="remark-btn">评论（65）</span>
                                <span>热度（493）</span>
                            </div>
                        </div>
                        <div class="remark not-chosen">
                            <input type="text">
                            <button>发&nbsp;&nbsp;&nbsp;&nbsp;布</button>
                        </div>
                    </div>
                </div>
                <div class="comment-item clearfix">
                    <img src="/public/img/head7.jpg">
                    <div class="comment-body">
                        <div class="triangle"></div>
                        <div class="line"></div>
                        <div class="comment-content">
                            <span>LOFTER话题君</span>
                            <div class="comment-content-inner">
                                <img src="/public/img/comment7.jpg" class="comment-img">
                                <h5>LOFTER创作者激励计划“不负有勤人”获奖公布</h5>
                                <p>1、以下创作者在“超潜力新星”赛道中获评为优质创作者</p>
                                <u> @莫得蓝颜色 @咒高第一干饭人 @叫我三岁就好了 @吱枝七 @E.S.P @亦贝paradox @零度杀戮 @宋辞柒 ...</u>
                            </div>
                            <span class="fold">
                                展开
                                <i class="iconfont">&#xe72f;</i>
                            </span>
                            <div class="function-area">
                                <i class="iconfont icon_heart">&#xe619;</i>
                                <span>推荐</span>
                                <span>分享</span>
                                <span class="remark-btn">评论（65）</span>
                                <span>热度（493）</span>
                            </div>
                        </div>
                        <div class="remark not-chosen">
                            <input type="text">
                            <button>发&nbsp;&nbsp;&nbsp;&nbsp;布</button>
                        </div>
                    </div>
                </div>
                <div class="comment-item clearfix">
                    <img src="/public/img/head1.jpg">
                    <div class="comment-body">
                        <div class="triangle"></div>
                        <div class="line"></div>
                        <div class="comment-content">
                            <span>LOFTER话题君</span>
                            <div class="comment-content-inner">
                                <img src="/public/img/comment1.jpg" class="comment-img">
                                <h5>LOFTER创作者激励计划“不负有勤人”获奖公布</h5>
                                <p>1、以下创作者在“超潜力新星”赛道中获评为优质创作者</p>
                                <u> @莫得蓝颜色 @咒高第一干饭人 @叫我三岁就好了 @吱枝七 @E.S.P @亦贝paradox @零度杀戮 @宋辞柒 ...</u>
                            </div>
                            <span class="fold">
                                展开
                                <i class="iconfont">&#xe72f;</i>
                            </span>
                            <div class="function-area">
                                <i class="iconfont icon_heart">&#xe619;</i>
                                <span>推荐</span>
                                <span>分享</span>
                                <span class="remark-btn">评论（65）</span>
                                <span>热度（493）</span>
                            </div>
                        </div>
                        <div class="remark not-chosen">
                            <input type="text">
                            <button>发&nbsp;&nbsp;&nbsp;&nbsp;布</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <p>
                    <a href="javascript:;">联系我们</a>
                    <span>|</span>
                    <a href="javascript:;">招贤纳士</a>
                    <span>|</span>
                    <a href="javascript:;">移动客户端</a>
                    <span>|</span>
                    <a href="javascript:;">风格模板</a>
                    <span>|</span>
                    <a href="javascript:;">官方博客</a>
                    <span>|</span>
                    <a href="javascript:;">侵权投诉 Reporting Infringements</a>
                </p>
                <p>
                    <span>网易公司版权所有</span>
                    <span>©1997-2021</span>
                    <a href="javascript:;">浙公网安备 33010802010186号</a>
                    <span>浙ICP备16011220号-11</span>
                    <span>增值电信业务经营许可证：浙B2-20160599</span>
                </p>
                <p>
                    <a href="javascript:;">网络文化经营许可证：</a>
                    <a href="javascript:;">浙网文[2019]3904-370号</a>
                    <a href="javascript:;">自营经营者信息</a>
                    <a href="javascript:;">工业和信息化部备案管理系统网站：</a>
                    <a href="javascript:;">12318全国文化市场举报网站</a>
                </p>
            </div>
        </div>
        <div class="sidebar">
            <div class="user">
                <div class="user-id">
                    <span>Danmoits</span>
                    <span>danmoits</span>
                </div>
                <div class="down">
                    <i class="iconfont">&#xe616;</i>
                </div>
                <div class="user-info">
                    <span>关注</span>
                    <span>21</span>
                </div>
            </div>
            <div class="creator-center">
                <div class="creator-center-item">
                    创作者中心
                    <i class="iconfont">&#xe63c;</i>
                </div>
                <div class="creator-center-item">
                    文章
                </div>
                <div class="creator-center-item">
                    合集
                </div>
                <div class="creator-center-item">
                    喜欢
                </div>
                <div class="creator-center-item">
                    钱包
                </div>
                <div class="creator-center-item">
                    草稿
                </div>
                <div class="creator-center-item_">
                    个人主页设置
                </div>
                <div class="creator-center-item_">
                    批量管理文章
                </div>
            </div>
            <div class="sideimg1">
            </div>
            <div class="sideimg2">
            </div>
            <div class="topic">
                <span>决战平安京</span>
                <span>11528参与</span>
                <div class="topic-imgs">
                    <div>
                        <div></div>
                    </div>
                    <div>
                        <div></div>
                    </div>
                    <div>
                        <div></div>
                    </div>
                    <div>
                        <div></div>
                    </div>
                </div>
                <div class="more-topic">
                    <span>更多话题</span>
                </div>
            </div>
            <div class="qrcode">
                <p>使用手机访问LOFTER</p>
                <div class="qrcode-item">
                    <img src="/public/img/qrcode_android.jpg">
                    <span>安卓APP下载</span>
                    <span>扫码下载安卓LOFTER APP</span>
                </div>
                <div class="qrcode-item">
                    <img src="/public/img/qrcode_wechat.jpg">
                    <span>微信小程序</span>
                    <span>使用微信扫码打开LOFTER微信小程序</span>
                </div>
                <div class="qrcode-item">
                    <img src="/public/img/qrcode_qq.jpg">
                    <span>QQ小程序</span>
                    <span>使用QQ扫码打开LOFTER QQ小程序</span>
                </div>
                <div class="qrcode-item">
                    <img src="/public/img/qrcode_apple.jpg">
                    <span>苹果APP下载</span>
                    <span>扫码下载iOS LOFTER APP</span>
                </div>
            </div>
            <div class="user user-fixed">
                <div class="user-id">
                    <span>Danmoits</span>
                    <span>danmoits</span>
                </div>
                <div class="down">
                    <i class="iconfont">&#xe616;</i>
                </div>
                <div class="user-info">
                    <span>关注</span>
                    <span>21</span>
                </div>
            </div>
            <div class="creator-center creator-center-fixed">
                <div class="creator-center-item">
                    创作者中心
                    <i class="iconfont">&#xe63c;</i>
                </div>
                <div class="creator-center-item">
                    文章
                </div>
                <div class="creator-center-item">
                    合集
                </div>
                <div class="creator-center-item">
                    喜欢
                </div>
                <div class="creator-center-item">
                    钱包
                </div>
                <div class="creator-center-item">
                    草稿
                </div>
                <div class="creator-center-item_">
                    个人主页设置
                </div>
                <div class="creator-center-item_">
                    批量管理文章
                </div>
            </div>
        </div>
    </div>
    <div class="to-top">
        <i class="iconfont">&#xe60b;</i>
    </div>
    <script src="/public/js/index.js"></script>
</body>

</html>