<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>逆转裁判 | Lofter（乐乎） - 让兴趣、更有趣</title>
  <link rel="stylesheet" href="/public/css/base.css">
  <link rel="stylesheet" href="/public/css/reset.css">
  <link rel="stylesheet" href="/public/css/index.css">
  <link rel="stylesheet" href="/public/css/tag.css">
  <link rel="stylesheet" href="/public/icon-font/iconfont.css">
  <link rel="icon" href="/public/favicon.ico">
</head>

<body>
  <div class="topbar-wrapper">
    <div class="topbar w">
      <div class="topbar-img">
        <img src="/public/img/topbar.jpg">
      </div>
      <div class="topbar-menu">
        <div>
          <a href="/">首页</a>
        </div>
        <div>
          <a href="/found">发现</a>
        </div>
        <div>
          <a href="javascript:;">APP</a>
        </div>
      </div>
      <form class="topbar-input" action="/tag">
        <input type="text" placeholder="搜索用户、标签" name="tag" autocomplete="off">
        <i class="iconfont">&#xe62d;</i>
        <span>NEW</span>
        <div class="pop-up">
          <div class="pop-up-header">
            <span>
              <i class="iconfont">&#xeba0;</i>
              关注的标签
            </span>
          </div>
          <div class="pop-up-entity">
            <div class="pop-up-item">
              <span class="tag">
                #戈多
              </span>
              <span>
                +12篇
              </span>
            </div>
            <div class="pop-up-item">
              <span class="tag">
                #戈德
              </span>
              <span>
                +38篇
              </span>
            </div>
            <div class="pop-up-item">
              <span class="tag">
                #神乃木庄龙
              </span>
              <span>
                +2篇
              </span>
            </div>
            <div class="pop-up-item">
              <span class="tag">
                #游戏
              </span>
              <span>
                +19204篇
              </span>
            </div>
            <div class="pop-up-item">
              <span class="tag">
                #二次元
              </span>
              <span>
                +48666篇
              </span>
            </div>
            <div class="pop-up-item">
              <span class="tag">
                #逆转裁判
              </span>
              <span>
                +951篇
              </span>
            </div>
            <div class="pop-up-item">
              <span class="tag">
                #天元突破
              </span>
              <span>
                +23篇
              </span>
            </div>
          </div>
        </div>
      </form>
      <div class="topbar-icons">
        <div>
          <i class="iconfont">&#xe60a;</i>
        </div>
        <div>
          <i class="iconfont">&#xe60d;</i>
        </div>
        <div>
          <i class="iconfont">&#xe60c;</i>
        </div>
        <div class="login-pop-btn">
          <i class="iconfont">&#xe629;</i>
          <ul class="login-pop">
            <li>
              <i class="iconfont">&#xe60f;</i>
              <span>寻找好友</span>
            </li>
            <li>
              <i class="iconfont">&#xe65d;</i>
              <span>导入</span>
            </li>
            <li>
              <i class="iconfont">&#xe600;</i>
              <span>移动客户端</span>
            </li>
            <li>
              <i class="iconfont">&#xe611;</i>
              <span>UAPP-创建个人应用</span>
            </li>
            <li>
              <i class="iconfont">&#xe626;</i>
              <span>帮助中心：0571-89852053</span>
            </li>
            <a href="/login">
              <li>
                <i class="iconfont">&#xe66d;</i>
                <span>登录</span>
              </li>
            </a>
        </div>
      </div>
    </div>
  </div>
  <div class="main clearfix">
    <div class="middle">
      <div class="middle-top">
        <div class="tag-name">
          <h1>
            <i class="iconfont">&#xeba0;</i>
            <span>逆转裁判</span>
            <a href="javascript:;">+ 订阅</a>
          </h1>
          <div>
            <a href="javascript:;">参与话题</a>
            <span>212.8万浏览</span>
            <span>13884参与</span>
          </div>
        </div>
        <div class="new-hot">
          <a href="javascript:;">最新</a>
          <a href="javascript:;">最热</a>
        </div>
      </div>
      <div class="comment">
        <div class="comment-item clearfix">
          <a href="/user_2">
            <img src="/public/img/head2.jpg">
          </a>
          <div class="comment-body">
            <div class="triangle"></div>
            <div class="line"></div>
            <div class="comment-content clearfix">
              <span>游戏菌</span>
              <div class="comment-content-inner">
                <img src="/public/img/comment2.jpg" class="comment-img">
                <h5>【斯莉X逆转裁判】手捧百合花的逆转4</h5>
                <p>1980年10月31日上午11时16分地方法院被告第2休息室

                  斯内普打开休息室大门的时候，里克正挽着莉莉的手走进来。男孩望着莉莉说：“姐姐，你看见莱了是吗？你也看见了……那个杀了她的人？”

                  莉莉微笑，百合的清幽从中绽放：“姐姐也只看到了这一幕而已，事实的真相，你的辩护人哥哥会帮你找出来。”说着，她拍拍里克，向斯内普走过来。

                  “律师的制服很适合你，西弗。”莉莉笑着说。她手抚上斯内普的脖颈，满眼都是温柔的爱意。

                  斯内普的目光则很严肃：“你不是应该在魔法世界——”

                  莉莉似乎还想叙旧，她打断道：“我还记得，那棵树下，你说虽然自己没有魔法，但也要用自己的力量保护弱小的人，你做到了。在法庭战斗的...</p>

              </div>
              <span class="fold">
                展开
                <i class="iconfont">&#xe72f;</i>
              </span>
              <div class="function-area">
                <i class="iconfont icon_heart">&#xe619;</i>
                <span>推荐</span>
                <span>分享</span>
                <span class="remark-btn">评论（65）</span>
                <span>热度（493）</span>
              </div>
            </div>
            <div class="remark not-chosen">
              <input type="text">
              <button>发&nbsp;&nbsp;&nbsp;&nbsp;布</button>
            </div>
          </div>
        </div>
        <div class="comment-item clearfix">
          <img src="/public/img/head3.jpg">
          <div class="comment-body">
            <div class="triangle"></div>
            <div class="line"></div>
            <div class="comment-content clearfix">
              <span>触手研究专家</span>
              <div class="comment-content-inner">
                <img src="/public/img/comment3.jpg" class="comment-img">
                <h5>【斯莉X逆转裁判】手捧百合花的逆转4</h5>
                <p>1980年10月31日上午11时16分地方法院被告第2休息室

                  斯内普打开休息室大门的时候，里克正挽着莉莉的手走进来。男孩望着莉莉说：“姐姐，你看见莱了是吗？你也看见了……那个杀了她的人？”

                  莉莉微笑，百合的清幽从中绽放：“姐姐也只看到了这一幕而已，事实的真相，你的辩护人哥哥会帮你找出来。”说着，她拍拍里克，向斯内普走过来。

                  “律师的制服很适合你，西弗。”莉莉笑着说。她手抚上斯内普的脖颈，满眼都是温柔的爱意。

                  斯内普的目光则很严肃：“你不是应该在魔法世界——”

                  莉莉似乎还想叙旧，她打断道：“我还记得，那棵树下，你说虽然自己没有魔法，但也要用自己的力量保护弱小的人，你做到了。在法庭战斗的...</p>

              </div>
              <span class="fold">
                展开
                <i class="iconfont">&#xe72f;</i>
              </span>
              <div class="function-area">
                <i class="iconfont icon_heart">&#xe619;</i>
                <span>推荐</span>
                <span>分享</span>
                <span class="remark-btn">评论（65）</span>
                <span>热度（493）</span>
              </div>
            </div>
            <div class="remark not-chosen">
              <input type="text">
              <button>发&nbsp;&nbsp;&nbsp;&nbsp;布</button>
            </div>
          </div>
        </div>
        <div class="comment-item clearfix">
          <img src="/public/img/head4.jpg">
          <div class="comment-body">
            <div class="triangle"></div>
            <div class="line"></div>
            <div class="comment-content clearfix">
              <span>触手研究专家</span>
              <div class="comment-content-inner">
                <img src="/public/img/comment4.jpg" class="comment-img">
                <h5>【斯莉X逆转裁判】手捧百合花的逆转4</h5>
                <p>1980年10月31日上午11时16分地方法院被告第2休息室

                  斯内普打开休息室大门的时候，里克正挽着莉莉的手走进来。男孩望着莉莉说：“姐姐，你看见莱了是吗？你也看见了……那个杀了她的人？”

                  莉莉微笑，百合的清幽从中绽放：“姐姐也只看到了这一幕而已，事实的真相，你的辩护人哥哥会帮你找出来。”说着，她拍拍里克，向斯内普走过来。

                  “律师的制服很适合你，西弗。”莉莉笑着说。她手抚上斯内普的脖颈，满眼都是温柔的爱意。

                  斯内普的目光则很严肃：“你不是应该在魔法世界——”

                  莉莉似乎还想叙旧，她打断道：“我还记得，那棵树下，你说虽然自己没有魔法，但也要用自己的力量保护弱小的人，你做到了。在法庭战斗的...</p>

              </div>
              <span class="fold">
                展开
                <i class="iconfont">&#xe72f;</i>
              </span>
              <div class="function-area">
                <i class="iconfont icon_heart">&#xe619;</i>
                <span>推荐</span>
                <span>分享</span>
                <span class="remark-btn">评论（65）</span>
                <span>热度（493）</span>
              </div>
            </div>
            <div class="remark not-chosen">
              <input type="text">
              <button>发&nbsp;&nbsp;&nbsp;&nbsp;布</button>
            </div>
          </div>
        </div>
        <div class="comment-item clearfix">
          <img src="/public/img/head5.jpg">
          <div class="comment-body">
            <div class="triangle"></div>
            <div class="line"></div>
            <div class="comment-content clearfix">
              <span>触手研究专家</span>
              <div class="comment-content-inner">
                <img src="/public/img/comment5.jpg" class="comment-img">
                <h5>【斯莉X逆转裁判】手捧百合花的逆转4</h5>
                <p>1980年10月31日上午11时16分地方法院被告第2休息室

                  斯内普打开休息室大门的时候，里克正挽着莉莉的手走进来。男孩望着莉莉说：“姐姐，你看见莱了是吗？你也看见了……那个杀了她的人？”

                  莉莉微笑，百合的清幽从中绽放：“姐姐也只看到了这一幕而已，事实的真相，你的辩护人哥哥会帮你找出来。”说着，她拍拍里克，向斯内普走过来。

                  “律师的制服很适合你，西弗。”莉莉笑着说。她手抚上斯内普的脖颈，满眼都是温柔的爱意。

                  斯内普的目光则很严肃：“你不是应该在魔法世界——”

                  莉莉似乎还想叙旧，她打断道：“我还记得，那棵树下，你说虽然自己没有魔法，但也要用自己的力量保护弱小的人，你做到了。在法庭战斗的...</p>

              </div>
              <span class="fold">
                展开
                <i class="iconfont">&#xe72f;</i>
              </span>
              <div class="function-area">
                <i class="iconfont icon_heart">&#xe619;</i>
                <span>推荐</span>
                <span>分享</span>
                <span class="remark-btn">评论（65）</span>
                <span>热度（493）</span>
              </div>
            </div>
            <div class="remark not-chosen">
              <input type="text">
              <button>发&nbsp;&nbsp;&nbsp;&nbsp;布</button>
            </div>
          </div>
        </div>
        <div class="comment-item clearfix">
          <img src="/public/img/head6.jpg">
          <div class="comment-body">
            <div class="triangle"></div>
            <div class="line"></div>
            <div class="comment-content clearfix">
              <span>触手研究专家</span>
              <div class="comment-content-inner">
                <img src="/public/img/comment6.png" class="comment-img">
                <h5>【斯莉X逆转裁判】手捧百合花的逆转4</h5>
                <p>1980年10月31日上午11时16分地方法院被告第2休息室

                  斯内普打开休息室大门的时候，里克正挽着莉莉的手走进来。男孩望着莉莉说：“姐姐，你看见莱了是吗？你也看见了……那个杀了她的人？”

                  莉莉微笑，百合的清幽从中绽放：“姐姐也只看到了这一幕而已，事实的真相，你的辩护人哥哥会帮你找出来。”说着，她拍拍里克，向斯内普走过来。

                  “律师的制服很适合你，西弗。”莉莉笑着说。她手抚上斯内普的脖颈，满眼都是温柔的爱意。

                  斯内普的目光则很严肃：“你不是应该在魔法世界——”

                  莉莉似乎还想叙旧，她打断道：“我还记得，那棵树下，你说虽然自己没有魔法，但也要用自己的力量保护弱小的人，你做到了。在法庭战斗的...</p>

              </div>
              <span class="fold">
                展开
                <i class="iconfont">&#xe72f;</i>
              </span>
              <div class="function-area">
                <i class="iconfont icon_heart">&#xe619;</i>
                <span>推荐</span>
                <span>分享</span>
                <span class="remark-btn">评论（65）</span>
                <span>热度（493）</span>
              </div>
            </div>
            <div class="remark not-chosen">
              <input type="text">
              <button>发&nbsp;&nbsp;&nbsp;&nbsp;布</button>
            </div>
          </div>
        </div>
        <div class="comment-item clearfix">
          <img src="/public/img/head7.jpg">
          <div class="comment-body">
            <div class="triangle"></div>
            <div class="line"></div>
            <div class="comment-content clearfix">
              <span>触手研究专家</span>
              <div class="comment-content-inner">
                <img src="/public/img/comment7.jpg" class="comment-img">
                <h5>【斯莉X逆转裁判】手捧百合花的逆转4</h5>
                <p>1980年10月31日上午11时16分地方法院被告第2休息室

                  斯内普打开休息室大门的时候，里克正挽着莉莉的手走进来。男孩望着莉莉说：“姐姐，你看见莱了是吗？你也看见了……那个杀了她的人？”

                  莉莉微笑，百合的清幽从中绽放：“姐姐也只看到了这一幕而已，事实的真相，你的辩护人哥哥会帮你找出来。”说着，她拍拍里克，向斯内普走过来。

                  “律师的制服很适合你，西弗。”莉莉笑着说。她手抚上斯内普的脖颈，满眼都是温柔的爱意。

                  斯内普的目光则很严肃：“你不是应该在魔法世界——”

                  莉莉似乎还想叙旧，她打断道：“我还记得，那棵树下，你说虽然自己没有魔法，但也要用自己的力量保护弱小的人，你做到了。在法庭战斗的...</p>

              </div>
              <span class="fold">
                展开
                <i class="iconfont">&#xe72f;</i>
              </span>
              <div class="function-area">
                <i class="iconfont icon_heart">&#xe619;</i>
                <span>推荐</span>
                <span>分享</span>
                <span class="remark-btn">评论（65）</span>
                <span>热度（493）</span>
              </div>
            </div>
            <div class="remark not-chosen">
              <input type="text">
              <button>发&nbsp;&nbsp;&nbsp;&nbsp;布</button>
            </div>
          </div>
        </div>
        <div class="comment-item clearfix">
          <img src="/public/img/head1.jpg">
          <div class="comment-body">
            <div class="triangle"></div>
            <div class="line"></div>
            <div class="comment-content clearfix">
              <span>触手研究专家</span>
              <div class="comment-content-inner">
                <img src="/public/img/comment1.jpg" class="comment-img">
                <h5>【斯莉X逆转裁判】手捧百合花的逆转4</h5>
                <p>1980年10月31日上午11时16分地方法院被告第2休息室

                  斯内普打开休息室大门的时候，里克正挽着莉莉的手走进来。男孩望着莉莉说：“姐姐，你看见莱了是吗？你也看见了……那个杀了她的人？”

                  莉莉微笑，百合的清幽从中绽放：“姐姐也只看到了这一幕而已，事实的真相，你的辩护人哥哥会帮你找出来。”说着，她拍拍里克，向斯内普走过来。

                  “律师的制服很适合你，西弗。”莉莉笑着说。她手抚上斯内普的脖颈，满眼都是温柔的爱意。

                  斯内普的目光则很严肃：“你不是应该在魔法世界——”

                  莉莉似乎还想叙旧，她打断道：“我还记得，那棵树下，你说虽然自己没有魔法，但也要用自己的力量保护弱小的人，你做到了。在法庭战斗的...</p>

              </div>
              <span class="fold">
                展开
                <i class="iconfont">&#xe72f;</i>
              </span>
              <div class="function-area">
                <i class="iconfont icon_heart">&#xe619;</i>
                <span>推荐</span>
                <span>分享</span>
                <span class="remark-btn">评论（65）</span>
                <span>热度（493）</span>
              </div>
            </div>
            <div class="remark not-chosen">
              <input type="text">
              <button>发&nbsp;&nbsp;&nbsp;&nbsp;布</button>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <p>
          <a href="javascript:;">联系我们</a>
          <span>|</span>
          <a href="javascript:;">招贤纳士</a>
          <span>|</span>
          <a href="javascript:;">移动客户端</a>
          <span>|</span>
          <a href="javascript:;">风格模板</a>
          <span>|</span>
          <a href="javascript:;">官方博客</a>
          <span>|</span>
          <a href="javascript:;">侵权投诉 Reporting Infringements</a>
        </p>
        <p>
          <span>网易公司版权所有</span>
          <span>©1997-2021</span>
          <a href="javascript:;">浙公网安备 33010802010186号</a>
          <span>浙ICP备16011220号-11</span>
          <span>增值电信业务经营许可证：浙B2-20160599</span>
        </p>
        <p>
          <a href="javascript:;">网络文化经营许可证：</a>
          <a href="javascript:;">浙网文[2019]3904-370号</a>
          <a href="javascript:;">自营经营者信息</a>
          <a href="javascript:;">工业和信息化部备案管理系统网站：</a>
          <a href="javascript:;">12318全国文化市场举报网站</a>
        </p>
      </div>
    </div>
    <div class="sidebar">
      <div class="active-user">
        <p>参与用户</p>
        <a href="javascript:;">
          <img src="/public/img/side-avatar01.jpg">
          <div>
            <span>像素ROBUT</span>
            <span>活跃用户</span>
          </div>
          <i class="iconfont">&#xe640;</i>
        </a>
        <a href="javascript:;">
          <img src="/public/img/side-avatar01.jpg">
          <div>
            <span>像素ROBUT</span>
            <span>活跃用户</span>
          </div>
          <i class="iconfont">&#xe640;</i>
        </a>
        <a href="javascript:;">
          <img src="/public/img/side-avatar01.jpg">
          <div>
            <span>像素ROBUT</span>
            <span>活跃用户</span>
          </div>
          <i class="iconfont">&#xe640;</i>
        </a>
        <a href="javascript:;">
          <img src="/public/img/side-avatar01.jpg">
          <div>
            <span>像素ROBUT</span>
            <span>活跃用户</span>
          </div>
          <i class="iconfont">&#xe640;</i>
        </a>
        <a href="javascript:;">
          <img src="/public/img/side-avatar01.jpg">
          <div>
            <span>像素ROBUT</span>
            <span>活跃用户</span>
          </div>
          <i class="iconfont">&#xe640;</i>
        </a>
        <a href="javascript:;">
          <img src="/public/img/side-avatar01.jpg">
          <div>
            <span>像素ROBUT</span>
            <span>活跃用户</span>
          </div>
          <i class="iconfont">&#xe640;</i>
        </a>
        <a href="javascript:;">
          <img src="/public/img/side-avatar01.jpg">
          <div>
            <span>像素ROBUT</span>
            <span>活跃用户</span>
          </div>
          <i class="iconfont">&#xe640;</i>
        </a>
        <a href="javascript:;">
          <img src="/public/img/side-avatar01.jpg">
          <div>
            <span>像素ROBUT</span>
            <span>活跃用户</span>
          </div>
          <i class="iconfont">&#xe640;</i>
        </a>
        <a href="javascript:;">
          <img src="/public/img/side-avatar01.jpg">
          <div>
            <span>像素ROBUT</span>
            <span>活跃用户</span>
          </div>
          <i class="iconfont">&#xe640;</i>
        </a>
        <div class="more-users">
          显示更多用户
        </div>
      </div>
      <div class="sideimg">
      </div>
      <div class="topic">
        <span>决战平安京</span>
        <span>11528参与</span>
        <div class="topic-imgs">
          <div>
            <div></div>
          </div>
          <div>
            <div></div>
          </div>
          <div>
            <div></div>
          </div>
          <div>
            <div></div>
          </div>
        </div>
        <div class="more-topic">
          <span>更多话题</span>
        </div>
      </div>
      <div class="_qrcode">
        <img src="/public/img/qrcode_android.jpg">
        <div>
          <p>下载移动端</p>
          <p>关注最新消息</p>
        </div>
      </div>
      <div class="_qrcode _qrcode-fixed">
        <img src="/public/img/qrcode_android.jpg">
        <div>
          <p>下载移动端</p>
          <p>关注最新消息</p>
        </div>
      </div>
    </div>
  </div>
  <div class="to-top">
    <i class="iconfont">&#xe60b;</i>
  </div>
  <script src="/public/js/tag.js"></script>
</body>

</html>