<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>神乃木：暗黑的咖啡与苦涩的人生</title>
    <link rel="stylesheet" href="./public/css/base.css">
    <link rel="stylesheet" href="./public/css/reset.css">
    <link rel="stylesheet" href="./public/css/user_1.css">
    <link rel="stylesheet" href="./public/css/user_artical.css">
    <link rel="stylesheet" href="/public/icon-font/iconfont.css">
    <link rel="icon" href="/public/user_head1.ico">
    <style>
        /*第二篇文章下边的两个按钮*/
        .prev-next> .prev {
            float: left;
        }
        .prev-next>.next {
            float: right;
            background-color: #EBEBEB;
            cursor: default;
        }
        .prev-next>.prev:hover {
            width: 115px;
        }
    </style>
</head>

<body>
    <div class="control">
        <a href="javascript:;" class="like-it">

        </a>
        <a href="javascript:;" class="good">

        </a>
        <a href="javascript:;" class="reprint">
            转载
        </a>
        <a href="javascript:;" class="report">
            举报
        </a>
        <a href="javascript:;" class="share">
            分享
        </a>
        <a href="javascript:;" class="cancel-focus">
            取消关注
        </a>
        <a href="/" class="to-index">
            返回首页
        </a>
    </div>
    <div class="main">
        <div class="user-info">
            <div class="head-img"></div>
            <span>Danmoits</span>
            <div class="function-area">
                <span>私信</span>
                <span>归档</span>
            </div>
            <i class="iconfont">&#xe62d;</i>
            <input type="text" placeholder="搜索">
            <div class="pop-up">
                <p>一拳超人</p>
                <p>神乃木庄龙</p>
                <p>进击的巨人</p>
                <p>夏洛特</p>
                <p>style</p>
                <p>bilibili</p>
            </div>
        </div>
        <div class="artical">
            <a href="javascript:;">
                ㉕
            </a>
            <a href="javascript:;">
                01
            </a>
            <div class="artical-content">
                <a href="./user1_artical2.html">
                    <h1>初现的逆光：致逆转裁判2新ED</h1>
                </a>
                <h2>初现的逆光：致逆转裁判2新ED</h2>
                <br/>
                <p>
                    第13集，一小时特别篇，从得知消息后我等了两个月，终于了却了我的心愿。
                    <br/><br/>
                    （因为语文比较菜，所以可能并不能把心中的感情充分地表达出来，见谅）
                    <br/><br/>
                    ED是在学校的一体机上看到的，当时心情激动得溢于言表，以至于我连着两个中午放了两次，旁边某大姐都看不下去了：你昨天不是才看过么？
                    <br/><br/>
                    如此狂热，对我而言是有理由的。这个ED满足了神千党的所有想象，这一波糖，真的像是在救赎我们那空虚的灵魂。
                    <br/><br/>
                    逆转是我倾注感情最多的动漫，没有之一。从前看动漫都是怀着一种看热闹的心态，自逆转始，每一周都会格外地期待，不论作画是否精致，剧情是否流畅，永远会坚持地看下去，这大概就是我的信仰吧。
                    <br/><br/>
                    逆转3是一部悲剧，如茨威格所言，悲剧具有更加动人的力量。六年前，痴狂的尾并田美散，为了自己所谓的信赖之人吞下了毒药，案件随着被告人的死亡而不了了之，只留下辩护席上律师小姐内心无尽的创伤与旁边男人不息的愤怒。半年后，由于调查这桩案子，男人也被下了毒，从此病床上昏迷五年。醒来后，律师小姐已然不在人世，他麻木而又痛苦，于是抛弃了自己的曾经，成为了谜一样的检察官。昔日以“小猫咪”和“前辈”互称的两人，自此阴阳两隔。男人封闭了自己的内心，为了弥补过去的创伤而不断奋斗，直到直面自己的内心，最后血泪流下的那一瞬间，“本人的世界没有红色，所以这一定是我的泪吧”，“请记住，男人只有在一切都结束之后才能流泪”。
                    <br/><br/>
                    我怔住了。不仅是惊叹于这剧情的设计，也真正地陷入了思考。人非圣贤，孰能无过？正因为我们是人类，所以我们一定会犯错。逆转裁判里没有完美无缺的人物，却能留下一个又一个令人印象深刻的角色。
                    <br/><br/>
                    我喜欢神乃木庄龙和绫里千寻，并且以后，我仍然会一如既往地喜欢。他们本该是天下万千对cp中很普通的一对，却因为昏迷和死亡而被锁上了沉重的枷锁。游戏原作里，神千是刻画得最少的，甚至只有神乃木最后自白时的一小段内容，但是抛开其他cp，神千唯独给我留下最深刻的印象。“身为律师，无论遇到怎样危险的局面，都应该露出微笑”，“不要哭，咖啡会变咸的”。曾经的曾经越是温馨，后来的后来就越显沉痛。因为神乃木，因为这般苦涩，渐渐地，我也开始寻觅咖啡的香气，那醉人的暗香。
                    <br/><br/>
                    然后继续回归正题，逆转这一波OP和ED，真的称得上是良心，尤其是ED，直戳我的内心，像很多粉丝所言：“这谁受得了啊，暴风哭泣ing”。正如OP中所说，“当白色被黑色，覆盖之前，fighting the
                    way 就连命运，也要抵抗，为了你ride or
                    die”这是神乃木在病床上努力挣扎，为了保护千寻也要醒来的真实写照。以及ED，那美丽的生活，那个人美丽的笑脸，以及世界上最深爱的季节……这两个人间的羁绊，不就像舒婷所描写的“仿佛永远分离，却又终身相依“，“爱——不仅爱你伟岸的身躯，也爱你坚持的位置，足下的土地”…或许你们会觉得我加了粉丝滤镜，但起码在我看来，事实就是如此。
                    <br/><br/>
                    逆转动画已经到了13集，主线剧情步步紧逼，孤寂的灵魂在这世间已经徘徊了几个月的光阴，是时候了结这一切了！（笑
                    <br/><br/>
                    最后附上ED：
                    <br/><br/>
                    开端就在逆光之中
                    <br/><br/>
                    摸索中触碰到的手指
                    <br/><br/>
                    漫长的夜晚迎来黎明
                    <br/><br/>
                    朝夕的天空 歌唱的鸟儿
                    <br/><br/>
                    呐 神明大人啊 呐
                    <br/><br/>
                    我无法对自己说谎啊
                    <br/><br/>
                    那个人的笑脸
                    <br/><br/>
                    不论多少次我都想再见
                    <br/><br/>
                    我想守护 美丽生活
                    <br/><br/>
                    就算再过100年
                    <br/><br/>
                    那时候的每一天 对我来说
                    <br/><br/>
                    都是世界上最深爱的季节
                    <br/><br/>
                    感谢逆转裁判，你不仅是一部游戏，一部动漫，也是伟大的艺术。正是青春少年时，感谢有你陪伴。
                    <br/><br/>
                    ——淡漠 2019.1.25
                </p>
                <div class="comment-area">
                    <p class="tag">
                        <span>神乃木庄龙</span>
                        <span>神千</span>
                        <span>绫里千寻</span>
                        <span>逆转裁判</span>
                        <span>戈多</span>
                        <span>戈德</span>
                    </p>
                    <p class="others">
                        <span>热度（14）</span>
                        <span>全文链接</span>
                    </p>
                </div>
                <div class="add-comment clearfix">
                    <h3>评论</h3>
                    <textarea></textarea>
                    <span>发布</span>
                </div>
                <div class="heat">
                    <h3>热度(14)</h3>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>推荐了此文字</span>
                    </div>
                </div>
                <div class="prev-next clearfix">
                    <a href="/user1_artical1" class="prev">
                        <span class="prev-span">上一篇</span>
                        <i class="iconfont">&#xe783;</i>
                    </a>
                    <a href="javascript:;" class="next">
                        <span class="next-span">下一篇</span>
                        <i class="iconfont">&#xe781;</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        © Danmoits | Powered by LOFTER
    </div>
    <script>
        const prev = document.getElementsByClassName("prev")[0];
        const prevSpan = document.getElementsByClassName("prev-span")[0];

        prev.onmouseover = function() {
            setInterval(() => {
                if(window.getComputedStyle(prev,null).width === "115px"){
                    prevSpan.style.opacity = "1";
                }
                else{
                    prevSpan.style.opacity = "0";
                }
            }, 30);
        }
    </script>
</body>

</html>