<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>神乃木：暗黑的咖啡与苦涩的人生</title>
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/user_1.css">
    <link rel="stylesheet" href="/public/css/user_artical.css">
    <link rel="stylesheet" href="/public/icon-font/iconfont.css">
    <link rel="icon" href="/public/user_head1.ico">
    <style>
        /*第一篇文章下边的两个按钮*/
        .prev-next>.prev {
            float: left;
            background-color: #EBEBEB;
            cursor: default;
        }

        .prev-next>.next {
            float: right;
        }

        .prev-next>.next:hover {
            width: 115px;
        }
    </style>
</head>

<body>
    <div class="control">
        <a href="javascript:;" class="like-it">

        </a>
        <a href="javascript:;" class="good">

        </a>
        <a href="javascript:;" class="reprint">
            转载
        </a>
        <a href="javascript:;" class="report">
            举报
        </a>
        <a href="javascript:;" class="share">
            分享
        </a>
        <a href="javascript:;" class="cancel-focus">
            取消关注
        </a>
        <a href="/" class="to-index">
            返回首页
        </a>
    </div>
    <div class="main">
        <div class="user-info">
            <div class="head-img"></div>
            <span>Danmoits</span>
            <div class="function-area">
                <span>私信</span>
                <span>归档</span>
            </div>
            <i class="iconfont">&#xe62d;</i>
            <input type="text" placeholder="搜索">
            <div class="pop-up">
                <p>一拳超人</p>
                <p>神乃木庄龙</p>
                <p>进击的巨人</p>
                <p>夏洛特</p>
                <p>style</p>
                <p>bilibili</p>
            </div>
        </div>
        <div class="artical">
            <a href="javascript:;">
                ㉕
            </a>
            <a href="javascript:;">
                01
            </a>
            <div class="artical-content">
                <a href="/user1_artical1">
                    <h1>神乃木：暗黑的咖啡与苦涩的人生</h1>
                </a>
                <h2>神乃木：暗黑的咖啡与苦涩的人生</h2>
                <br/>
                <p>
                    我从来没有想过——对我而言，居然有一个角色能让我热爱到如此地步。不论是作桌面壁纸，还是各种头像，我无一例外都想让这个男人亮相——一个嗜咖啡如命的男人。
                    <br/><br/>
                    很后悔，当年在我玩逆转裁判的时候，我选择了通关前提前给自己剧透。因为剧透，我对逆转3最后的结局的记忆甚是模糊。也许是我当时成长的还不够罢，居然没能留下太深刻的印象。也算是一个巧合，两年后，当我偶然一次又跟别人聊起逆转裁判时，一个问题浮现在我的脑海：戈多检察官的原名……是叫啥来着呢？好像是…神什么来着的…现在想想，真是惭愧。
                    <br/><br/>
                    于是回去，我便重新打开了被我搁置已久的逆转裁判3，重新开启了这一段旅途。在这里，我发现了新的天地。戈多检察官，一个身份成迷的带着电子眼镜的大叔（在我接触守望先锋后，我一度认为这个眼镜和士兵76号神似，巧合的是76也是我喜欢的角色之一），每次庭审据说可以喝下十七杯咖啡，并且一度把咖啡杯飞向成步堂（3-3结尾）。戈多检察官的外表帅气但冷峻，下巴和侧脸长满胡须，银白色的头发，墨绿搭配浅黄色的服装，着西服裤和皮鞋，一副成熟大叔的模样，像是一头狂放不羁的野兽，又有着超于常人的无比的沉稳。戈多检察官是一个很有性格的人，他的口中，字字句句都贯彻着他自己的哲学和信条，以及对男人的理解。
                    <br/><br/>
                    也许，大家刚上来都会像我一样，对这个身份成谜的男人不抱有任何好感，甚至有些厌烦他对成步堂的步步针对，强行狡辩。戈多初次作为检察官出庭，宣称自己是无败的检查官，便说出了这么一段让人记忆犹新的话：不论是哪个检察官，一开始不都是没有败绩的吗？不管是哪个大人物，一开始不都是新人吗？这便是他的狂妄。整个逆转裁判3，自始至终，他都是自负的。面具下怒火中烧的愤怒，意味深长的微笑……一杯咖啡，咕咚下肚，再摇一摇头。但这种自负中，散发着独特的魅力和气场，再加上哲学的BGM，戈多检察官的形象逐步变得丰满。在3-3中，芝九藏的气势引得所有人退避三舍（假装到桌子下边找圆珠笔），只有戈多镇定自若，“你喊破了嗓子也没用。你已是被捕获的猎物，这法庭就是你的囚笼。能裁决你的，只有我！”他的豪迈可见一斑。
                    <br/><br/>
                    然而，到了第四案，戈多的真实身份才开始浮现出水面。六年前，绫里千寻接下了律师生涯的第一案，由于星影喝的醉醺醺，陪在他身边的便是星影律师事务所首屈一指的王牌律师——神乃木庄龙。神乃木装束与戈多检察官基本一致，除了衣服是红色，头发还是棕色，也没有带电子眼镜。玩家到这里，其实应该已经明白一二了。神乃木前辈被千寻那种对委托人纯洁的信赖深深吸引，二人虽然辈分有别，却是恋人关系。神乃木在3-4中极显男友之力，挑逗地称千寻为小猫咪。在法庭上，他用自己敏锐的直觉和判断力，引导千寻一步步逼近案件的真相。他教会千寻：律师越是在危险的时刻，才越该笑的从容（后来千寻教给了成步堂）。世事难料，在真相即将被揭开水面之时，尾并田美散，喝下了毒药。千寻哭了，她没能抓住千奈美最后的把柄，救出尾并田。瞧见千寻哭成泪人，神乃木怒了：“不可饶恕。真相，已经看得到了。”“不要哭，咖啡会变咸的……”他怒不可遏，徒手捏碎咖啡杯，任鲜血流淌，“男人，只有在一切都结束的时候才能流泪。”
                    <br/><br/>
                    接下来的半年时间，神乃木和千寻联手调查这宗绑架案，不料在那个命运之日，神乃木毫无防备地被千奈美在法庭地下餐厅下了毒，从此陷入了长达五年的昏迷。毒药被千奈美送给了天真无邪的大学时期成步堂。因为千奈美想杀成步堂，在千寻的努力下，千奈美最终被绳之以法，处以死刑。千寻很失落，神乃木前辈，不知何时才能重新活过来。
                    <br/><br/>
                    更加令玩家窒息的是，在逆转裁判1中，千寻老师已经被小中大用“思考者”雕塑一击毙命。神千之恋，每每想起，心中总会变得空空落落。后来，神乃木又被咖啡唤醒了，醒来的时候，眼前的世界模糊了，面对镜子，俨然是一个陌生人——头发的颜色变不回来了……并且，他面对的是仇人和恋人的双双去世。可曾想过，当神乃木迫不及待地走回星影法律事务所打听千寻的消息，却只能听到噩耗。他一定，很痛苦吧……再后来，知道了成步堂屡屡胜诉，神乃木坐不住了：“都是因为你，没有保护好千寻，她才……！”苟活下来的神乃木，有两个生存目的：一是测试成步堂的水平，二是保护好綾里真宵。神乃木变成了戈多，便是他人生另一个悲剧的开始。他要击败成步堂，责备他没有不是真才实学的律师。神乃木要在成步堂身上找到优越感。在3-5中，他更是想要证明：我保护了真宵，救了你的女人。而你……却没能保护我的女人！便是这样，他制定了一系列详尽的计划，选择不与成步堂合作。夜幕之下，中堂之内，神乃木的面具闪耀着红色之光。真宵被一步步逼向角落，神乃木上前搭救，却被千奈美附体的綾里舞子挑飞了面具，创伤了眼睛。在迷茫的盛怒之下，神乃木拔刀相向，刺中了綾里舞子。血溅了出来，落到真宵的脸上……
                    <br/><br/>
                    神乃木知道自己的罪孽，不想再做出掩饰，在千奈美被逐出真宵身体后，他仍然主动提出：杀死綾里舞子的真凶还没有找到。在最后的法庭上，成步堂发现了真相，迎来了我认为逆转三部曲中最燃的一幕：最后的证据，一管血的代价。神乃木说，你能承受这无限大的惩罚吗？成步堂：你是在唬我吗，戈多检察官（能证明吗，问题不在这里。我只能…证明了。在这最后的关头，将思维逆转过来，不要想没留下伤口的原因，而要想凶手隐藏伤口的《方法》！）就让我引导大家进行华丽的逆转吧！成步堂的步步相逼，神乃木最终再也无法招架，面具爆炸，发出绝望的呐喊。（心疼）后来便是一段自白。当那段所谓“哲学”的BGM再度响起，我的心中，只有苦涩在心中不断地回荡着……“没能保护好千寻，不能怪任何人，只能怪本人…面对事实，本人逃避了，逃避了正眼面对千寻的死！用面具隐藏了相貌，连律师的身份和真名，都一并抛弃了…”神乃木终于认识到：“自负的，是本人，而已。本人只不过是一直追逐着幻影，打败你，这个无法实现的幻影。把这一切都告诉本人的就是你，你没有逃避，没有逃避…”神乃木庄龙，这个已死之人，点燃了逆转3最后的结尾，每每回忆这段台词，心中总是不免泛起涟漪。最后的血泪双关，更是叫人揪心不已“本人的世界里，没有红色，这一定是本人的《眼泪》。小妹妹，请你记住，男人，只有在一切都结束的时候才能哭泣。”最后的成绫对话，在我看来，也不及成步堂和神乃木最后的交杯咖啡。“以前不知曾把多少杯的《黑暗》一饮而尽，而今天的这一杯，却比以前的任何一杯都美妙，你觉得呢，成步堂龙一”。
                    <br/><br/>
                    我曾经多次想要把逆转裁判3安利给别人，但是，我却发现，有些话语真的是难以说出口。正是因为喜欢，所以才总是语无伦次。而整个逆转3中，我最欣赏的便是性情中人神乃木庄龙。他自负，他偏激，但是他刚毅，承担着所有痛苦，愿把所有黑暗融入咖啡一饮而尽。人非圣贤，孰能无过？最终神乃木的结局是留白的，但是，我多么希望他能做回律师，通过灵媒与千寻重逢。而不是因为身体机能衰竭，外加犯下的杀人罪孽最后不了了之。
                    <br/><br/>
                    “真正的男人，越是在悲惨不堪的时候，越是得坚强起来啊”看来我以后，也不能流泪了。不论处境多么糟糕，精神多么崩溃，“地球在转，我们也在转”。
                    <br/><br/>
                    前行是唯一的答案。
                </p>
                <div class="comment-area">
                    <p class="tag">
                        <span>神乃木庄龙</span>
                        <span>戈多</span>
                        <span>戈德</span>
                        <span>逆转裁判</span>
                    </p>
                    <p class="others">
                        <span>热度（14）</span>
                        <span>全文链接</span>
                    </p>
                </div>
                <div class="add-comment clearfix">
                    <h3>评论</h3>
                    <textarea></textarea>
                    <span>发布</span>
                </div>
                <div class="heat">
                    <h3>热度(14)</h3>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>很喜欢该文字</span>
                    </div>
                    <div class="heat-item clearfix">
                        <img src="/public/img/myhead.jpg">
                        <a href="javascript:;">Danmoits</a>
                        <span>推荐了此文字</span>
                    </div>
                </div>
                <div class="prev-next clearfix">
                    <a href="javascript:;" class="prev">
                        <span class="prev-span">上一篇</span>
                        <i class="iconfont">&#xe783;</i>
                    </a>
                    <a href="/user1_artical2" class="next">
                        <span class="next-span">下一篇</span>
                        <i class="iconfont">&#xe781;</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        © Danmoits | Powered by LOFTER
    </div>
    <script>
        const next = document.getElementsByClassName("next")[0];
        const nextSpan = document.getElementsByClassName("next-span")[0];

        next.onmouseover = function() {
            setInterval(() => {
                if(window.getComputedStyle(next,null).width === "115px"){
                    nextSpan.style.opacity = "1";
                }
                else{
                    nextSpan.style.opacity = "0";
                }
            }, 30);
        }
    </script>
</body>

</html>